.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
  flex: 1;
  width: 70%;
  input, select {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: #1a95f0;
    transition: .2s ease-in-out;
    padding: 10px 20px;
    &:focus {
      outline: 2px solid #1a95f0;
    }
  }
}